@charset "UTF-8";

/*Fonts*/

@font-face {
    font-family: 'chunkfive';
    src: url('../fonts/chunkfive-webfont.woff'),
         url('../fonts/chunkfive-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('../fonts/rubik-bold-webfont.woff'),
         url('../fonts/rubik-bold-webfont.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bolditalic';
    src: url('../fonts/rubik-bolditalic-webfont.woff'),
         url('../fonts/rubik-bolditalic-webfont.woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'rubik-regular';
    src: url('../fonts/rubik-regular-webfont.woff'),
         url('../fonts/rubik-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-italic';
    src: url('../fonts/rubik-italic-webfont.woff'),
         url('../fonts/rubik-italic-webfont.woff2');
    font-weight: normal;
    font-style: italic;
}

/*Tag general settings*/

body {
    font-family: 'rubik-regular', Arial, sans-serif;
}

h2 {
    font-family: 'chunkfive', Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

h3 {
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

h4 {
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
    width: 860px;
    padding: 0px 50px;
    text-decoration: none;
}

/*Header*/

#mainHeader {
    width: 860px;
    height: 109px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#logo {
    width: 104px;
    height: 103px;
    margin-top: 9px;
}

#socialNav {
    width: 660px;
    height: 96px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15px;
}

.social {
    width: 180px;
    height: 30px;
    margin-left: auto;
}

.social a img {
    width: 17%;
    padding: 0px 5px;
}

.mainNav {
    width: 660px;
    height: 50px;
    margin-top: 20px;
}

.mainNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainNav ul li {
    display: inline;
    width: 90px;
    text-align: center;
    border: 4px solid #003518;
    border-radius: 10px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.mainNav ul li a:hover {
    color: #000000;
}

.mainNav ul li:hover {
    background: #00C9C9;
}

.mainNav ul li a {
    font-family: 'rubik-bold', Arial, sans-serif;
    display: block;
    color: #fff;
    padding: 8px 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.mainNav ul li:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

/*Index Body*/

#heroCon {
    width: 860px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 90px;
    height: 82px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin-top: 75px;
    color: #fff;
    position: absolute;
    border: 4px solid #003518;
    border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.button:hover {
    background: #00C9C9;
}

.button:active, label:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

.buttonText label {
    font-family: 'rubik-bold', Arial, sans-serif;
    width: 82px;
    height: 35px;
    color: #fff;
    position: absolute;
    text-align: center;
    margin-top: 76px;
    font-size: 13px;
    line-height: 20px;
    padding: 20px 0px 20px 4px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.buttonText label:hover {
    color: #000000;
}

.buttonText {
    position: relative;
    margin-right: 90px;
}

#hero {
    width: 600px;
    height: 250px;
    border: 4px solid #003518;
    border-radius: 10px;
    background-image: url("../images/index_image0.jpg");
}

#hero h2 {
    font-size: 40px;
}

#hero h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
}

#hero p {
    font-family: 'rubik-italic', Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 62px;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.buttonTextTwo {
    position: relative;
}

.buttonTextTwo label {
    font-family: 'rubik-bold', Arial, sans-serif;
    position: absolute;
    color: #fff;
    text-align: center;
    width: 440px;
    font-size: 21px;
    line-height: 30px;
    padding: 10px 30px 10px 30px;
    margin: 25px 0px 0px 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.buttonTextTwo label:hover {
    color: #000000;
}

#buttonTwo {
    width: 530px;
    height: 90px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin-top: 20px;
    position: absolute;
    border: 4px solid #003518;
    border-radius: 25px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#buttonTwo:hover {
    background: #00C9C9;
}

#buttonTwo:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

#buttonCon {
    width: 530px;
    height: 90px;
    margin: 0 auto;
}

#title {
    width: 380px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 40px;
}


#boxConHome {
    width: 860px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.activityBox {
    width: 275px;
    height: 400px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    text-align: center;
    border-radius: 10px;
}

.activityTitle {
    width: 275px;
    height: 75px;
}

.activityTitle h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 12px 8px;
    width: 210px;
    margin: 0 auto;
}

.activityTitle h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

.activityPhoto {
    margin: 0 auto;
    position: relative;
    width: 225px;
    height: 300px;
}

.activityPhoto:hover .activityOverlay {
    height: 50%;
}

.activityphoto a img {
    display: block;
}

.activityOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.activityText {
    position: absolute;
    overflow: hidden;
    padding: 20px;
    font-family: 'rubik-italic', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.activityTextSpan {
    font-family: 'rubik-bolditalic', Arial, sans-serif;
    font-size: 20px;
}

/*Footer*/

#mainFooter {
    width: 860px;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#mainFooter .mainNav {
    margin-top: 37px;
}

#mainFooter .social {
    margin-top: 40px;
}

/*About Body*/

#titleOne {
    width: 370px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 25px;
}


#subTitle {
    width: 750px;
    height: 55px;
    background: #128700;
    background: -moz-radial-gradient(center, ellipse cover, #128700 0%, #005e2c 87%, #00441e 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #128700 0%,#005e2c 87%,#00441e 100%);
    background: radial-gradient(ellipse at center, #128700 0%,#005e2c 87%,#00441e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128700', endColorstr='#00441e',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#subTitle h3 {
    font-family: 'rubik-italic', Arial, sans-serif;
    font-size: 20px;
    padding-top: 18px;
}

#boxOne {
    width: 860px;
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutButton {
    width: 280px;
    height: 70px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

#conOneSub {
    width: 280px;
    height: 75px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

#clickA {
    font-family: 'chunkfive', Arial, sans-serif;
    font-size: 34px;
    padding: 20px 0px;
}


.aboutButton h3 {
    font-family: 'rubik-bold';
    font-size: 25px;
    padding: 22.5px;
}

.aboutButton h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

.aboutButtonContent {
    display: none;
    width: 700px;
    height: 75px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 21px;
    text-align: center;
}

.aboutButtonContent p {
    font-family: 'rubik-bolditalic', Arial, sans-serif;
    line-height: 25px;
    padding-top: 5px;
}

#titleTwo {
    width: 320px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 30px;
}

#conTwo {
    width: 820px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#boxTwo {
    width: 570px;
    height: 250px;
    text-indent: 1.2em;
}

#boxTwo p {
    padding-right: 20px;
    padding-bottom: 10px;
}

#photoTwo {
    width: 230px;
    height: 250px;
}

#titleThree {
    width: 520px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#conThree {
    width: 820px;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
}

#boxThree {
    width: 570px;
    height: 210px;
    text-indent: 1.2em;
}

#boxThree p {
    padding-right: 20px;
    padding-bottom: 10px;
}

#photoThree {
    width: 230px;
    height: 210px;
}

#titleFour {
    width: 270px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#conFour {
    width: 815px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
}

.gear img {
    width: 200px;
    height: 200px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.gear img:hover {
    width: 300px;
    height: 300px;
}

#boxFour {
    width: 350px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 25px;
}

#boxFour p {
    text-align: center;
}

#statistics {
    width: 350px;
    height: 75px;
    margin: 0 auto;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin-top: 20px;
}

.graphCenter {
    text-align: center;
}

.graphCon {
    margin-top: 20px
}

.graphCon img {
    width: 60%;
}

.graphText {
    width: 450px;
    height: 55px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 17px;
    line-height: 22px;
}

#aboutButtonFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 860px;
    margin-top: 15px;
}

.aboutButtonDiv {
    position: relative;
    width: 50px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.aboutButtonDiv label {
    position: absolute;
}

.aboutBack {
    position: absolute;
    width: 50px;
    height: 50px;
}

.aboutNext {
    position: absolute;
    width: 50px;
    height: 50px;
}

.aboutBack:active, .aboutNext:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

.arrow {
    width: 18px;
    height: 18px;
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 10px 10px 10px 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 10px 10px 10px 5px;
}

.graphBump {
    padding-right: 65px;
}

.graphBumpTwo {
    padding-right: 15px;
}

#titleFive {
    width: 670px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 30px;
}

#conFive {
    width: 815px;
    height: 263px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.bizCon {
    width: 278px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.biz {
    width: 278px;
    height: 125px;
    background-color: black;
}

#bizTwo {
    width: 217px;
    height: 263px;
    background-color: black;
}

#titleSix {
    width: 390px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#boxSix {
    width: 860px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.exeFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.exeOne {
    width: 420px;
    height: 90px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.exeTwo {
    width: 277px;
    height: 90px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.exeOne h3, .exeTwo h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
    padding: 12px;
}

.exeOne h4, .exeTwo h4 {
    font-size: 20px;
    padding: 5px;
}


#titleSeven {
    width: 720px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#boxSeven {
    width: 860px;
    height: 240px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.comFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.comTwo {
    width: 277px;
    height: 125px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.comTwo h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
    padding: 10px;
}

.comTwo h4 {
    font-size: 20px;
    line-height: 23px;
}

/*Projects Page*/

#projectTitle {
    width: 330px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
}

#handsOn {
    width: 440px;
    height: 40px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 10px;
}

#handsOn h3 {
    font-family: 'rubik-italic', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#handsOnText {
    margin: 0 auto;
    width: 670px;
    height: 90px;
    margin-top: 10px;
    line-height: 24px;
}

#handsOnText {
    text-align: center;
    padding: 10px;
}

#currentTitle {
    width: 360px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#projectFlex {
    width: 860px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.projectCon {
    width: 420px;
    height: 500px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.projectPhoto {
    margin: 0 auto;
    position: relative;
    width: 380px;
    height: 400px;
}

.projectPhoto img {
    display: block;
}

.projectPhoto:hover .projectOverlay {
    height: 25%;
}

.projectOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.projectText {
    position: absolute;
    overflow: hidden;
    padding: 15px 10px;
    text-align: center;
    font-family: 'rubik-italic', Arial, sans-serif;
}

.projectTextSpan {
    font-family: 'rubik-bolditalic', Arial, sans-serif;
    font-size: 18px;
}

.titleCon {
    width: 420px;
    height: 80px;
}

.projectCon img {
    margin-top: 20px;
}

.titleCon h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
    padding: 27px 10px;
}

.titleCon h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

#fundTitle {
    width: 290px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#fundFlex {
    margin: 0 auto;
    width: 650px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#fundText {
    width: 600px;
    height: 100px;
    line-height: 25px;
}

#fundTextSpan {
    font-family: 'rubik-bolditalic', Arial, sans-serif;
    font-size: 25px;
    line-height: 45px;
}

#fundText p {
    font-size: 18px;
    text-align: center;
}

#buttonTextHelp {
    position: relative;
}

#buttonTextHelp label {
    font-family: 'rubik-bold', Arial, sans-serif;
    width: 80px;
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 17px 5px 13px 10px;
}

#buttonTextHelp label:hover {
    color: #000000;
}

#help {
    width: 100px;
    height: 50px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    position: absolute;
    border: 4px solid #003518;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#help:hover {
    background: #00C9C9;
}

#help:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

#pastTitle {
    width: 290px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#pastFlex {
    width: 860px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.pastCon {
    width: 420px;
    height: 90px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.pastCon h3 {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
    padding: 33px;
}

.pastCon h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

/*Archives Page*/

#newsTitle {
    width: 500px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
}

#newsFlex {
    margin: 0 auto;
    width: 670px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#newsText {
    width: 600px;
    height: 80px;
    line-height: 22px;
}

#newsText p {
    font-size: 16px;
    padding-right: 20px;
    text-align: center;
}

#buttonTextNews {
    position: relative;
}

#buttonTextNews label {
    font-family: 'rubik-bold', Arial, sans-serif;
    position: absolute;
    color: #fff;
    width: 80px;
    text-align: center;
    padding: 17px 6px 12px 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#buttonTextNews label:hover {
    color: #000000;
}

#signUp {
    width: 100px;
    height: 50px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    position: absolute;
    border: 4px solid #003518;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#signUp:hover {
    background: #00C9C9;
}

#signUp:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

#letterCon {
    width: 860px;
    height: 225px;
    margin-top: 20px;
}

.letterFlex {
    width: 860px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letterButton {
    width: 162px;
    height: 65px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.letterButton h3 {
    font-size: 30px;
    padding: 18px;
}

.letterButton h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

#eventTitle {
    width: 400px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#eventSub {
    width: 460px;
    height: 80px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 10px;
}

#eventSub h3 {
    font-family: 'rubik-italic', Arial, sans-serif;
    line-height: 30px;
    padding: 10px;
}

#eventSpan {
    font-family: 'rubik-bold', Arial, sans-serif;
    font-size: 25px;
}

.eventCon {
    width: 860px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.eventFlex {
    width: 570px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.titleDate {
    font-family: 'rubik-bold', Arial, sans-serif;
    width: 570px;
    height: 40px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleDate h3 {
    padding: 12px 0px 0px 10px;
}

#damNation {
    padding: 5px 0px 0px 10px;
    text-align: left;
}

.titleDate h4 {
    padding: 12px 10px 0px 0px;
}

.eventText {
    width: 570px;
    height: 180px;
}

.eventText p:first-child {
    padding-top: 10px;
}

.eventText p {
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    text-indent: 1.2em;
    line-height: 18px;
}

.eventPhoto {
    width: 240px;
    height: 220px;
}

#backNextFlex {
    margin: 0 auto;
    width: 860px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
}

#backNextFlex label {
    font-family: 'rubik-bold', Arial, sans-serif;
    position: absolute;
    color: #fff;
    padding: 16px 24px 10px 25px;
    font-size: 20px;
}

#backNextFlex label:hover {
    color: #000000;
}

.backNext {
    width: 100px;
    height: 50px;
    background: #007000;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    position: absolute;
    border: 4px solid #003518;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.backNext:hover {
    background: #00C9C9;
}

.backNext:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

#next, #nextLabel {
    margin-left: 760px;
}

/*Archives js*/
.pastEventDiv {
    display: none;
}

/*Links Page*/
#linkBoxOne p, #linkBoxTwo p, #linkBoxThree p {
    color: #fff;
    padding: 5px 10px;
    line-height: 18px;
}

#linkBoxOne p, #linkBoxThree p {
    font-size: 13px;
}

#linksTitle {
    width: 280px;
    height: 75px;
    margin: 0 auto;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
}

#linksSub {
    width: 420px;
    height: 50px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 10px
}

#linksSub h3 {
    font-family: 'rubik-italic', Arial, sans-serif;
    font-size: 20px;
    padding: 15px;
}

#conservation {
    width: 300px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#linkBoxOne {
    width: 860px;
    height: 350px;
    margin-top: 20px;
}

#linkBoxOne h3, #linkBoxThree h3 {
    padding: 7px;
}

#linkBoxOne .bump, #linkBoxThree .bump {
    padding: 14.5px;
}

.textBump {
    margin-top: 8px;
}

.linkLine {
    width: 860px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linkStart {
    width: 195px;
    height: 45px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.linkStart h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

.linkText {
    width: 655px;
    height: 45px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

#authorities {
    width: 540px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#authBox {
    width: 860px;
    height: 150px;
    margin-top: 20px;
}

#authBox h3 {
    font-size: 15px;
    padding: 15.5px 0px;
}

#authBox h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

.authFlex {
    width: 860px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authOne {
    width: 210px;
    height: 45px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

.authTwo {
    width: 167px;
    height: 45px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

#government {
    width: 440px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#govBox {
    width: 860px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px
}

#govBox h3 {
    padding: 14.5px;
}

#govBox h3:hover {
    color: #000000;
    background-color: #00C9C9;
}

.govOne {
    width: 425px;
    height: 45px;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
}

#fishing {
    width: 855px;
    height: 75px;
    margin: 0 auto;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin-top: 20px
}

#fishing h2 {
    font-size: 34px;
    padding: 20px;
}

#linkBoxTwo {
    width: 860px;
    height: 200px;
    margin-top: 20px;
}

#linkBoxTwo h3 {
    padding: 14.5px;
}

#linkBoxTwo p {
    text-align: center;
    padding: 14px;
}

#related {
    width: 460px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#linkBoxThree {
    width: 860px;
    height: 400px;
    margin-top: 20px;
}

#please {
    width: 260px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#pleaseText {
    width: 670px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}

/*Contact Page*/

#traaContact {
    width: 400px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
}

#contactText {
    width: 620px;
    height: 125px;
    margin-top: 10px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    line-height: 25px
}

#contactTextSpan {
    font-family: 'rubik-bolditalic';
    font-size: 25px;
    line-height: 50px;
}

#contactZone {
    width: 860px;
    height: 675px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

#contactZoneTitle {
    width: 430px;
    height: 75px;
}

#contactZoneForm {
    width: 430px;
    height: 675px;
    display: flex;
    flex-direction: column;
    background: -moz-radial-gradient(center, ellipse cover, #007000 0%, #005b00 88%, #005627 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #007000 0%,#005b00 88%,#005627 100%);
    background: radial-gradient(ellipse at center, #007000 0%,#005b00 88%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007000', endColorstr='#005627',GradientType=1 );
    margin-left: 30px;
    border-radius: 10px;
}

.contactPhotos {
    width: 325px;
    height: 325px;
    margin: 0 auto;
}

#contactZonePhoto{
    width: 380px;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contactForm {
    width: 430px;
    height: 600px;
    padding-top: 10px;
}

.formDiv {
    width: 400px;
    height: 50px;
    text-align: right;
    padding: 10px 20px;
}

.formDiv label {
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}

.formDiv input {
    margin-right: 50px;
    padding: 5px;
}

input[placeholder] {
    text-align: center;
}

#mailText {
    width: 400px;
    height: 150px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 30px;
    font-size: 18px;
}

#contactFund {
    width: 700px;
    height: 75px;
    background: #005627;
    background: -moz-linear-gradient(-45deg, #005627 0%, #005b00 20%, #007000 40%, #007000 60%, #005b00 80%, #005627 100%);
    background: -webkit-linear-gradient(-45deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    background: linear-gradient(135deg, #005627 0%,#005b00 20%,#007000 40%,#007000 60%,#005b00 80%,#005627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005627', endColorstr='#005627',GradientType=1 );
    margin: 0 auto;
    margin-top: 20px;
}

#contactFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contactFundText {
    width: 465px;
    height: 280px;
    padding: 20px 20px 0px 20px;
    line-height: 20px;
    text-indent: 1.2em;
}

#contactFundText p {
    padding: 5px 0px;
}

#fundPhoto {
    width: 280px;
    height: 280px;
    margin-top: 20px;
    text-align: center;
}

#checkBox {
    width: 30px;
    height: 30px;
}

.formDivCheck {
    color: #fff;
    width: 300px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDivCheck input {
    margin-top: 15px;
}

#contactSubmit {
    font-family: 'rubik-bold', Arial, sans-serif;
    width: 80px;
    height: 35px;
    margin-top: 20px;
}

#submitCon {
    width: 430px;
    height: 35px;
    text-align: center;
}

input[type=text], input[type=email] {
    box-shadow: 0px 0px 3px 0px #000000 inset;
}

#dollar {
    width: 60%;
}

/*Animations*/

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

#fundTime:hover #dollar {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: spin;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}